*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
  "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
  "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .8px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

a img {
  transition: opacity .3s;
}

a img:hover {
  opacity: .8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

ul,
li {
  list-style: none;
}

.pc-only {
  display: block;
}

/*--------------------------------
 文字
---------------------------------*/
.heading-primary {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  line-height: 1;
  display: inline-block;
  letter-spacing: .2em;
  color: #54dbc2;
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 10px;
  text-align: center;
}

.highlight {
  background: linear-gradient(transparent 60%, #f6ff5f 60%);
}


/*--------------------------------
 レイアウト
---------------------------------*/
.wrapper {
  background-color: #fff;
}

.section {
  margin-top: 80px;
}

.inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
}

.content {
  margin-top: 100px;
}

.dl-table dt {
  font-weight: bold;
  float: left;
}

.dl-table dd {
  margin-left: 50px;
}

/*--------------------------------
ヘッダー
---------------------------------*/
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 540px;
  background-image: url("../img/header/top.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.header:before{
  content: '';
  background: inherit;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
}

.logo {
  text-align: center;
}

.logo-title {
  font-size: 88px;
  font-weight: normal;
  line-height: 1;
  display: block;
  letter-spacing: .1em;
  color: #54dbc2;
}

.logo-text {
  font-size: 14px;
  display: block;
  margin-top: 10px;
  text-align: center;
  letter-spacing: .2em;
}

/*--------------------------------
グローバルナビ
---------------------------------*/
.gnav {
  z-index: 1;
  font-family: "Cormorant Garamond", serif;
  padding: 10px;
}

.gnav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gnav-item {
  padding: 0 30px;
}

.gnav-link {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #333;
}

/* iOS対策 */
.ios .gnav-link:hover {
  opacity: 1;
}

.gnav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0, 0);
  background-color: #fff;
  -webkit-box-shadow: 0 5px 7px -3px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 7px -3px rgba(0, 0, 0, .1);
}

/*--------------------------------
 About
---------------------------------*/
.about-section .inner {
  max-width: 1000px;
}

.about-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-image-wrapper {
  flex: 0 0 25%;
  margin-right: 40px;
}

.about-image {
  border-radius: 50%;
}

.about-body {
  flex: 1;
}

.about-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 Feature
---------------------------------*/
.feature-section .inner {
  max-width: 1000px;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-image-wrapper {
  flex: 0 0 48%;
  margin-right: 40px;
}

.feature-body {
  flex: 1;
}

.feature-body p:not(:last-child) {
  margin-bottom: 20px;
}

/*--------------------------------
 Works
---------------------------------*/
.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -40px;
}

.works-item {
  flex: 0 0 32.31552%;
  margin-right: 1.52671%;
  margin-bottom: 40px;
}

.works-item:nth-of-type(3n) {
  margin-right: 0;
}

.works-body {
  text-align: center;
}

.works-title {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-text {
  font-size: 10px;
}

.works-url {
  font-size: 10px;
}

/*--------------------------------
 Skill
---------------------------------*/
.skill-section .inner {
  max-width: 1000px;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  flex: 0 0 46%;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 1px #333;
  border-radius: 30px;
  padding: 20px 30px;
  margin-bottom: 50px;
}

.skill-body p:not(:last-child) {
  margin-bottom: 20px;
}

.skill-item .skill-title {
  font-size: 26px;
  margin-bottom: 3px;
}

.icon-desktop:before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  padding-right : 10px;
  color: #555;
}

.icon-database:before {
  font-family: "Font Awesome 5 Free";
  content: "\f1c0";
  font-weight: 900;
  padding-right : 10px;
  color: #555;
}

.icon-server:before {
  font-family: "Font Awesome 5 Free";
  content: "\f233";
  font-weight: 900;
  padding-right : 10px;
  color: #555;
}

.icon-toolbox:before {
  font-family: "Font Awesome 5 Free";
  content: "\f552";
  font-weight: 900;
  padding-right : 10px;
  color: #555;
}

.icon-list:before {
  font-family: "Font Awesome 5 Free";
  content: "\f022";
  font-weight: 900;
  padding-right : 10px;
  color: #555;
}

.skill-item .skill-table {
  margin-top: 20px;
  width: 350px;
  text-align: center;
}

.skill-item .skill-table th {
  padding: 10px 15px;
}


.skill-item .skill-table thead th {
  border-bottom: solid 1px #333;
}

.skill-item .skill-table td {
  padding: 10px 15px;
}

/*--------------------------------
 Contact
---------------------------------*/
.contact-section .contact {
  text-align: center;
}

/*--------------------------------
 Footer
---------------------------------*/
.footer {
  margin-top: 30px;
  background-color: #333;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 10px;
  text-align: center;
  color: #8c8c8c;
}

.page-top {
  font-size: 12px;
  font-weight: bold;
  display: block;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  background-color: #54dbc2;
}

/*media Queries 767
----------------------------------------------------*/
@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc-only {
    display: none;
  }

  /* 文字 */
  .heading-primary {
    font-size: 32px;
  }

  /* レイアウト */
  .section {
    padding: 60px 0;
  }

  .section .inner {
    padding: 0 15px;
  }

  .content {
    margin-top: 40px;
  }

  /* ヘッダー */
  .header {
    height: 70vh;
    background-image: url("../img/header/top.jpg");
  }

  .logo-title {
    font-size: 40px;
  }

  .logo-text {
    font-size: 10px;
  }

  /* グローバルナビ */
  .-list {
    padding: 0 10px;
  }

  .gnav-link {
    font-size: 12px;
  }

  .gnav-link:hover {
    opacity: 1;
  }

  /* Feature */
  .feature-item {
    display: block;
  }

  .feature-image-wrapper {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  /* Works */
  .works-body {
    text-align: left;
  }

  .works-title {
    font-size: 10px;
  }

  .works-list {
    justify-content: space-between;
  }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  /* About */
  .about-item {
    display: block;
  }

  .about-image-wrapper {
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
  }

  .about-image {
    border-radius: 50%;
  }

  /* Skill */
  .skill-list {
    display: block;
    margin-bottom: 0;
  }

  .skill-item {
    max-width: 100%;
    margin-bottom: 35px;
  }

  .skill-item:last-child {
    margin-bottom: 0;
  }

  .skill-image-wrapper {
    flex: 0 0 75px;
    margin-right: 15px;
  }

  /* フッター */
  .footer .inner {
    padding: 20px 0;
  }
}
